@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700);

.project {
    width: 700px ;
    text-align: center;
    font-size: 15px;
    margin-left: auto ;
    margin-right: auto ;
}

.github-btns-container {
    margin-top: 5px;
}

.link_reference {
    margin-left: 10px;
    font-size: 18px;
    font-family: "Josefin Sans", arial, sans serif;

}